.Banners {
    padding: 140px 125px 100px 125px;
}

.swiper {
    padding: 10px;
}

.swiper-slide {
    max-width: 450px;
}

.swiper-slide:hover .swiper-img::before {
    opacity: 1;
}

.swiper-slide:hover .swiper-img img {
    transform: scale(1.1);
}

.swiper-img {
    overflow: hidden;
    display: flex;
    position: relative;
    max-width: 450px;
    border-radius: 10px;
}

.swiper-img::before {
    background-color: rgb(0, 0, 0, 0.5);
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.3s;
    z-index: 1;
}

.swiper-img img {
    width: 100%;
    transition: 0.3s;
}

.swiper-text {
    color: white;
    margin-top: 20px;
    font-size: 15px;
}

.title {
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.devs {
    color: #9e9e9e;
    margin-top: 2.5px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.price {
    display: flex;
    align-items: center;
    gap: 22.5px;
    margin-top: 20px;
    font-size: 14px;
}

.sale {
    background-color: blue;
    width: fit-content;
    font-weight: 700;
    padding: 5px 10px;
    border-radius: 2px;
}

.sale:empty {
    display: none;
}

.old {
    color: grey;
    text-decoration: line-through;
}

.old:empty {
    display: none;
}

@media(max-width: 1300px) {
    .Banners {
        padding: 140px 90px 100px 90px;
    }
}

@media(max-width: 800px) {
    .Banners {
        padding: 140px 70px 100px 70px;
    }
}

@media(max-width: 550px) {
    .Banners {
        padding: 140px 40px 100px 40px;
    }
}

