@media(max-width: 1300px) {
    .links {
        display: none;
    }

    .Navbar {
        padding: 0px 100px;
    }
    
    .menu {
        display: flex;
    }

    .GamePage {
        padding: 140px 100px 100px 100px;
    }
}

@media(max-width: 1200px) {
    .game-flex {
        justify-content: center;
        flex-wrap: wrap-reverse;
        max-width: 700px;
        gap: 60px;
    }

    .game-banner.info {
        display: flex;
        margin-bottom: 60px;
    }

    .game-info {
        width: 100%;
        margin-top: 0px;
    }

    .game-data {
        margin-top: 50px;
    }

    .game-banner {
        display: none;
    }

    .game-desc {
        margin: 0px 0px 60px 0px;
    }
}

@media(max-width: 1100px) {
    .free-grid {
        grid-template-columns: 1fr;
    }
}

@media(max-width: 800px) {
    .Navbar {
        padding: 0px 80px;
    }

    .Page, .GamePage {
        padding: 140px 80px 100px 80px;
    }

    .page-grid {
        grid-template-columns: 1fr;
    }

    .game-gallery {
        grid-template-columns: 1fr;
    }

    .game-img:nth-child(3) {
        grid-column: initial;
    }
}

@media(max-width: 550px) {
    .Navbar {
        padding: 0px 50px;
        height: 100px;
    }

    .Page, .GamePage {
        padding: 140px 50px 100px 50px;
    }

    .free-text {
        padding: 25px;
    }

    .sidenav {
        width: 325px;
    }

    .img1 {
        display: none;
    }

    .img2 {
        display: block;
    }

    .game-title {
        text-align: center;
        font-size: 1.8em;
    }

    .specs-block {
        grid-template-columns: 1fr;
    }
}

@media(max-width: 450px) {
    #sm {
        max-width: 220px;
    }
    
    .swiper-img.small {
        max-width: 220px;
    }

    .sidenav {
        width: 100%;
    }
}

@media(max-width: 420px) {
    .specs-block {
        padding: 40px;
    }
}

